@import 'tailwindcss';

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme inline {
  /* Colors */
  --color-*: initial;

  --color-primary: var(--color-primary);
  --color-primary-t-4: var(--color-primary-t-4);
  --color-primary-t-2: var(--color-primary-t-2);

  --color-background-default: var(--color-background-default);
  --color-background-medium: var(--color-background-medium);
  --color-background-transparent: var(--color-background-transparent);

  --color-foreground-default: var(--color-foreground-default);
  --color-foreground-medium: var(--color-foreground-medium);
  --color-foreground-transparent: var(--color-foreground-transparent);

  /* Font Families */
  /* --font-*: initial;
  --font-montserrat: var(--font-montserrat);
  --font-montserrat-alternates: var(--font-montserrat-alternates);
  --font-libre-barcode-128-text: var(--font-libre-barcode-128-text); */
}

:root {
  /* Dark Colors */
  --color-primary: oklch(0.82 0.1192 59.71);
  --color-primary-t-4: oklch(0.82 0.1192 59.71 / 40%);
  --color-primary-t-2: oklch(0.82 0.1192 59.71 / 20%);

  --color-background-default: oklch(0.17 0 0);
  --color-background-medium: oklch(0.24 0 0);
  --color-background-transparent: oklch(1 0 0 / 10%);

  --color-foreground-default: oklch(1 0 0);
  --color-foreground-medium: oklch(0.79 0 0);
  --color-foreground-transparent: oklch(1 0 0 / 80%);
}

:root[data-theme='light'] {
  /* Light Colors */
  --color-primary: oklch(0.69 0.1317 57.7);
  --color-primary-t-4: oklch(0.67 0.1258 57.11 / 40%);
  --color-primary-t-2: oklch(0.67 0.1258 57.11 / 20%);

  --color-background-default: oklch(0.99 0 0);
  --color-background-medium: oklch(0.92 0 0);
  --color-background-transparent: oklch(0.17 0 0 / 10%);

  --color-foreground-default: oklch(0.17 0 0);
  --color-foreground-medium: oklch(0.39 0 0);
  --color-foreground-transparent: oklch(0.17 0 0 / 80%);
}
